/* My CSS code file */ 
h1 { 
	font-family : arial; 
	font-size : 70; 
	font-weight : 500; 
	background-image : linear-gradient(to bottom left, #553c9a, #ee4b2b); 
	color : transparent; 
	background-clip : text; 
	-webkit-background-clip : text 
}
h2 { color : green; } 
h3 { color : blue; } 
