/* My CSS code file */ 
h1 { 
	font-family : arial; 
	font-size : 70; 
	font-weight : 500; 
	background-image : linear-gradient(45deg, #553c9a, #ee4b2b); 
	color : transparent; 
	background-clip : text; 
	-webkit-background-clip : text 
}
h2 { 
	font-family : serif; 
	font-size : 50; 
	font-weight : 400; 
	background-image : linear-gradient(ellipse, #ee4b2b, #553c9a); 
	color : transparent; 
	background-clip : text; 
	-webkit-background-clip : text 
} 
h3 { color : blue; } 
